<div class="col-md-12 breadcrumb-info-container">
  <img *ngIf="!isComparisonWindow" height="80" width="300" src="assets/siemens-logo-white.png" class="pull-left" alt="siemens-logo-white">
  <table class="breadcrumb-info">
    <tr class="breadcrumb-info-title">
      <td>Region</td>
      <td></td>
      <td>Country</td>
      <td></td>
      <td>Site</td>
      <td></td>
      <td>Turbine</td>
      <td></td>
      <td>Blade</td>
      <td></td>
      <td>Surface</td>
      <td *ngIf="breadcrumbInfo.finding"></td>
      <td *ngIf="breadcrumbInfo.finding">Finding</td>
    </tr>
    <tr class="breadcrumb-info-content">
      <td>{{breadcrumbInfo.region}}</td>
      <td><i class="fa fa-long-arrow-right"></i></td>
      <td>{{breadcrumbInfo.country}}</td>
      <td><i class="fa fa-long-arrow-right"></i></td>
      <td>{{breadcrumbInfo.site}}</td>
      <td><i class="fa fa-long-arrow-right"></i></td>
      <td>{{breadcrumbInfo.turbine}}</td>
      <td><i class="fa fa-long-arrow-right"></i></td>
      <td>{{breadcrumbInfo.blade}}</td>
      <td><i class="fa fa-long-arrow-right"></i></td>
      <td>{{breadcrumbInfo.surface}}</td>
      <td *ngIf="breadcrumbInfo.finding"><i class="fa fa-long-arrow-right"></i></td>
      <td *ngIf="breadcrumbInfo.finding">{{breadcrumbInfo.finding}}</td>
    </tr>
  </table>
</div>