table#blade-overview tbody tr td.value{
  font-size: 17px;
}

#blade-overview tr{
  cursor: pointer;
}

 .reset{
    text-align: end;
    cursor: pointer;
    padding-left: 20px;
    padding-bottom: 5px;
}