#turbines .col-xs-1 {
  min-width:5% !important;
  height: 30px;
  margin-left: 5px;
}

#turbines .col-xs-1 a span{
  font-size: 19px;
  color: black;
}

#turbines .col-xs-1 span{
    margin-left: 1%;
}

