<app-breadcrumb [siteId]="siteId"></app-breadcrumb>

<div class="row text-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table id='turbines' class='table'>
            <tbody>
                <div *ngFor="let turbines of turbinesMatrix; let i = index" class="row" >
                    <div *ngFor="let turbine of turbines"  class="col-xs-1" [ngClass]="getSeverityClass(turbine.severity)">
                        <span *ngIf='turbine.severity'>
                            <a href="javascript:void(0)"  [routerLink]="['/managerview', {outlets: {'filter':['turbine', turbine.id], 'findings':['tab', Tab.Findings, 'type', nodeType.Turbine ,'id', turbine.id]}}]"><span>{{turbine.value}}</span></a>
                            </span>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</div>