<div class="login-container">
  <img class="login-logo" height="80" width="300" src="assets/siemens-logo-white.png" alt="siemens-logo-white">
  <div class="loginscreen">
    <h4 *ngIf='infoMsg'>{{infoMsg}}</h4>
    <div *ngIf='!infoMsg'>
      <div class="forgot-password">
        Reset forgotten password?
      </div>
      <form #resetPasswordForm="ngForm">
        <div class="form-group-small" [ngClass]="{ 'has-error': !userName.valid &&  !userName.pristine}">
          <input type="text" class="input-gray" name="userName" [(ngModel)]="model.userName" #userName='ngModel' placeholder="Email"
            required/>
          <div *ngIf="!userName.valid && !userName.pristine" class="help-block">
            The Email field is required.
          </div>
        </div>
        <div class="form-group-small">
          <button class="btn-pink" (click)='resetPassword(email)' [disabled]="emailSubmitted || !resetPasswordForm.form.valid || loading">Continue</button>
          <img *ngIf="loading" id="login-loader" src="{{loaderImage.src}}" />
        </div>
      </form>
    </div>
  </div>
  <div class="copyright">
    Copyright © Siemens Wind Power
  </div>
</div>