@import './src/variables.scss';

#viewlink-datatable{
    width: 1200px !important;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Open Sans', 'Helvetica Neue';
}

#viewlink-datatable .datatable-header {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  height: 70px !important;
}

#viewlink-datatable .ngx-datatable.material .datatable-row-group {
  border-top: 1px solid #ddd;
  padding: 3px 0 3px 0;  
}

#viewlink-datatable .ngx-datatable.material .datatable-footer .datatable-pager li a i {
  font-style: normal; 
}

#viewlink-datatable .ngx-datatable.material .datatable-footer .datatable-pager li:nth-child(-n + 2) {
  margin-right: -5px;
}

#viewlink-datatable .ngx-datatable.material .datatable-footer .datatable-pager li:nth-last-child(-n + 2) {
  margin-left: -5px;
}
#viewlink-datatable .ngx-datatable.material:not(.cell-selection) .datatable-body-row .threedots-style .btn, 
#viewlink-datatable .ngx-datatable.material:not(.cell-selection) .datatable-body-row .datatable-row-group .threedots-style .btn {
  visibility: hidden;
  background-color: transparent;
}

#viewlink-datatable .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .threedots-style .btn, 
#viewlink-datatable .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group .threedots-style .btn {
  visibility: visible;
}

#viewlink-datatable .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .threedots-style:hover .btn, 
#viewlink-datatable .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group .threedots-style:hover .btn,
#viewlink-datatable .btn-group.open.threedots-style .dropdown-toggle {
  border: 1px solid #8a8a8a !important;
  visibility: visible !important;
}

#action-dropdown-menu ul.dropdown-menu-right li {
  font-size:14px;
  @media (max-width: $break-large) {
    font-size: $dropdown-menu-font !important;
  }
}

