#dataQuality md-dialog-content{
    min-width: 510px;
}
.button-selected-finding {
    width: 190px;
    height: 40px;
}

.button-for-inspection {
    width: 270px;
    height: 40px;
}

.button-disapprove {
    width: 145px;
    height: 40px;
}

#loader img{
  margin-left: 15% !important;
  margin-top: 3% !important;
}