<div id="loader" *ngIf='loading' style="z-index:902;position: fixed; width: 100%; height: 100%;">
    <img src="{{loaderImage.src}}" />
</div>
<div>
    <button class='closeBtn' md-dialog-close><i class="material-icons">close</i></button>
    <h4 class="modal-title">Change Password</h4>
</div>
<hr>
<form #changePasswordForm='ngForm'>
    <div [ngStyle]="{opacity: loading ? '0.5': '1'}">
        <md-dialog-content>
            <div class="form-group">
                <md-input-container style="width: 100%">
                    <input type="password" (focusout)='checkInvalidOldPassword()' required mdInput placeholder="Old Password" [(ngModel)]='model.oldPassword'
                        name='oldPassword'>
                </md-input-container>
                <div *ngIf="invalidOldPassword" class='errorMsg'>
                    Invalid old password.
                </div>
            </div>
            <div class="form-group">
                <md-input-container style="width: 100%">
                    <input type="password" required mdInput minlength="6" (focusout)='checkPasswordLength()' placeholder="New Password" [(ngModel)]='model.newPassword'
                        name='newPassword'>
                </md-input-container>
                <div *ngIf="newPasswordMinLength" class='errorMsg'>
                    Password must contains at least 6 characters.
                </div>
            </div>
            <div class="form-group">
                <md-input-container style="width: 100%">
                    <input type="password" required mdInput placeholder="Confirm Password" (focusout)='checkPassword()' [(ngModel)]='model.confirmPassword'
                        name='confirmPassword'>
                </md-input-container>
                <div *ngIf="passwordDoesNotMatch" class='errorMsg'>
                    'Confirm new Password' and 'New Password' do not match.
                </div>
            </div>
        </md-dialog-content>
    </div>
    <md-dialog-actions id='changePasswordButtons' style="margin-left: 377px;">
        <button md-raised-button class="pull-right" md-dialog-close>Close</button>
        <button md-raised-button class="pull-right saveBtn" (click)='submit()' type="submit" color='accent' [disabled]="!changePasswordForm.form.valid || this.hasError()">Submit</button>
    </md-dialog-actions>
</form>