.mat-radio-label-content {
    font-weight: 500 !important;
}
.mat-checkbox-inner-container{
    margin: auto 2px auto auto;
}

.mat-checkbox-layout{
    margin-right: 5px;
}  

#comparisonReportGeneration md-dialog-content {
    width: 550px;
    height: 100px;
    box-shadow: none;
} 

#loader img{
  margin-left: 13% !important;
  margin-top: 6% !important;
}