<div [hidden]='!isInit'>
  <div class="row text-center">
    <div class="col-md-2">
      <h1 class="dashboard-fonts">
        {{dashboardPreview.numOfSites}}
      </h1>
    </div>
    <div class="col-md-2">
      <h1 class="dashboard-fonts">
        {{dashboardPreview.numOfTurbines}}
      </h1>
    </div>
    <div class="col-md-2">
      <h1 class="dashboard-fonts">
        {{dashboardPreview.numOfBlades}}
      </h1>
    </div>
    <div class="col-md-2">
      <h1 class="dashboard-fonts">
        {{dashboardPreview.numOfFindings}}
      </h1>
    </div>
    <div class="col-md-2">
      <h1 class="dashboard-fonts">
        {{dashboardPreview.numOfDeepZoomLinks}}
      </h1>
    </div>
    <div class="col-md-2">
      <h1 class="dashboard-fonts">
        {{dashboardPreview.numOfReports}}
      </h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-2">Sites</div>
    <div class="col-sm-2">Turbines</div>
    <div class="col-sm-2">Blades</div>
    <div class="col-sm-2">Findings</div>
    <div class="col-sm-2">Deep Zoom Links</div>
    <div class="col-sm-2">Reports</div>
  </div>
</div>