#findings-for-deep-zoom-link .datatable-header {
    overflow: hidden !important;
}

#findings-for-deep-zoom-link .datatable-row-wrapper {
  cursor:pointer;
}

.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-left, .ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-prev, .ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-right, .ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-skip{
  font-size: 12px !important;
}