#defectChangeLogView md-dialog-content{
    width: 900px !important;
    height: 400px !important;
}

textarea { 
    resize: vertical; 
    width: 400px !important;
    min-height: 70px !important;
}

input {
    width: 400px !important;
}