<div class="login-container">
  <img class="login-logo" height="80" width="300" src="assets/siemens-logo-white.png" alt="siemens-logo-white">
  <div class="loginscreen">
    <h4 *ngIf='showInfo'>
      <div *ngIf='!errorMsg'> Your password has been reset. Please <a [routerLink]="['/login']">click here to log in</a></div>
      <div *ngIf='errorMsg'> {{errorMsg}}</div>
    </h4>
    <div *ngIf='showInputs'>
      <div class="reset-password">
        Reset your password
      </div>
      <form #resetPasswordForm="ngForm" novalidate>
        <div class="form-group-small">
          <input type="password" minlength="6" class="input-gray" name="password" (focusout)='checkPasswordLength()' [(ngModel)]="model.password"
            #password='ngModel' placeholder="New password" required/>
          <div *ngIf="passwordMinLength" class='errorMsg'>
            Password must contains at least 6 characters.
          </div>
        </div>
        <div class="form-group-small">
          <input type="password" class="input-gray" name="confirmPassword" minlength="6" (focusout)='checkPassword()' [(ngModel)]="confirmPassword"
            placeholder="Confirm password" required/>
          <div *ngIf="passwordNotMatch" class="errorMsg">
            The new password and confirmation password do not match.
          </div>
        </div>
        <div class="form-group-small">
          <button class="btn-pink" [disabled]="!resetPasswordForm.form.valid || this.hasError()" (click)='reset()'>Reset</button>
          <img *ngIf="loading" id="login-loader" src="{{loaderImage.src}}" />
        </div>
      </form>
    </div>
  </div>
  <div class="copyright">
    Copyright © Siemens Wind Power
  </div>
</div>