#editFinding md-dialog-content{
    width: 500px;
    height: 400px;
}

textarea { 
  resize: vertical; 
  width: 450px !important;
  min-height: 70px !important;
}

#loader img{
  margin-left: 13% !important;
  margin-top: 11% !important;
}