<table class="severity">
    <tbody id="legend">
        <tr>
            <td [ngStyle]="{'opacity': 1}"> <span> Severity 5</span><div class="severity_5" id="circle"></div></td>
        </tr>
        <tr>
            <td [ngStyle]="{'opacity': 1}"> <span> Severity 4</span><div class="severity_4" id="circle"></div></td>
        </tr>
        <tr>
            <td [ngStyle]="{'opacity': 1}"> <span> Severity 3</span><div class="severity_3" id="circle"></div></td>
        </tr>
        <tr>
            <td [ngStyle]="{'opacity': 1}"> <span> Severity 2</span><div class="severity_2" id="circle"></div></td>
        </tr>
        <tr>
            <td [ngStyle]="{'opacity': 1}"> <span> Severity 1</span><div class="severity_1" id="circle"></div></td>
        </tr>
        <tr>
            <td [ngStyle]="{'opacity': 1}"> <span> Severity 0</span><div class="severity_0" id="circle"></div></td>
        </tr>
    </tbody>
</table>