.preview-header{
    background-color: #0C0A27;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    color: #fcfcfc;
    background-image: url('~assets/page-header-background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    height: 650px;
    margin-top: -20px;    
}