$break-large: 1600px;
$bread-crump-link: 25px;
$bread-crump-title: 12px;
$bread-crump-content: 9px;
$page-header-content-font: 14px;
$page-content-menu: 14px;
$blade-title: 14px;
$page-content-menu: 15px;
$search-input: 30px;
$page-header-menu: 20px;
$dropdown-menu-font:12px; 
$toogle-content-font:11px;
$button-font: 13px;
$dashboard-fonts: 300%;
$version-font: 12px;
$error-message: 20px;
$footer-z-index: 1;
$data-table-z-index: ($footer-z-index + 10);
$report-dropdown-menu-z-index: ($footer-z-index + 100);
$headermargins: 0%;
$footermarginsleft: 7%;
$footermarginsright: 2%;
