#generateDataExtract md-dialog-content {
   width: 600px;    
   height: 60px;
}

.mat-radio-label-content {  
    font-weight: 500 !important;
}
.mat-checkbox-inner-container{
    margin: auto 2px auto auto;
}

.mat-checkbox-layout{
    margin-right: 5px;
}   