<div class="container">
  <div class="col-md-2 text-center">
    <h1 class="deleted-items-fonts text-center">
      {{deletedItems.numOfSites}}
    </h1>
    deleted sites
  </div>
  <div class="col-md-2 text-center">
    <h1 class="deleted-items-fonts text-center">
      {{deletedItems.numOfTurbines}}
    </h1>
    deleted turbines
  </div>
  <div class="col-md-2 text-center">
    <h1 class="deleted-items-fonts text-center">
      {{deletedItems.numOfBlades}}
    </h1>
    deleted blades
  </div>
  <div class="col-md-2 text-center">
    <h1 class="deleted-items-fonts text-center">
      {{deletedItems.numOfFindings}}
    </h1>
    deleted findings
  </div>
  <div class="col-md-2 text-center">
    <h1 class="deleted-items-fonts text-center">
      {{deletedItems.numOfImages}}
    </h1>
    deleted images
  </div>
  <div class="col-md-2 text-center">
    <h1 class="deleted-items-fonts text-center">
      {{deletedItems.numOfReports}}
    </h1>
    deleted reports
  </div>
</div>